@media only screen and(max-width:768px){

*{
    padding:0px;
    margin:0px;
}
.bookmark{
    transform:rotate(90deg);
    display:block;


    
    
}
}
@media only screen and(min-width:769px){

}
.bookmark {
    position: relative;
}
.bookmark {
    position:absolute;
    top: 0;
    right: 0;
}
.button{
    
    background-color:rgb(224, 88, 224);
    color:white;
    border-radius:10px;
    border:none;
    padding:10px;
    width:300px;
    margin-left:610px;
    font-size: large;

}
.header-1{
    text-align: center;
    padding: 20px;
    
}
.line{
    color:rgb(240, 136, 240);
    border:1px dotted ;
    width:100%;
    margin:10px;
    
}
.middle{
    text-align: center;
}
.middle button{
    background-color:rgb(224, 88, 224);; 
    color:white;
    font-size: large;
    border:none;
     border-radius: 10px;
     padding:10px;

}

.imagecontainer{
    display: flex;
    padding-left: 35%;
    margin:10px;
    
}
.imagecontainer img{
    margin:20px;
    border-radius: 50%;
}
.imagecontainer-2{
    display: flex;
    padding-left: 27%;
}
.imagecontainer-2 img{
    margin:20px;
    border-radius: 50%;
}
.bookmark-1{
    transform:rotate(90deg);
    display:block;

}
.button-1{
    background-color:rgb(224, 88, 224);
    color:white;
    border-radius:10px;
    border:none;
    padding:10px;
    width:300px;
    margin-left:610px;
    font-size: large;

}
.container-2{
    display:flex;
    padding-left: 10%;
}
.container-2 img{
    margin:40px;
    border-radius: 50%;
}
.conatiner-3{
    display:flex;
    padding-left: 20%;

}

.conatiner-3 img{
    margin:30px;
    padding-left: 20%;
    border-radius: 50%;
}
.footer{
    display: flex;
    padding-left: 140px;
}
.salesbutton button{
    background-color:rgb(224, 88, 224);
    color:white;
    border-radius:10px;
    border:none;
    padding:10px;
    width:300px;
    margin-left:610px;
    font-size: large;
    
    

}
.bookmark-2 img{
    transform:rotate(90deg);
    display:block;

}
.footer img{
    margin:20px;
    border-radius: 50%;
}
.footer-end{
    display: flex;
    padding-left: 20%;
}
.footer-end img{
    margin:20px;
    border-radius: 50%;
}
.founder{
    color:rgb(240, 136, 240);
}